{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'css/default.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/booth2.css' %}">
    <title>{{pub.name}}</title>
</head>

<body class="div1">
    <div class="title">
        <p class="track-text">{{pub.belong}}</p>
        <p class="drink-text">{{pub.name}}</p>
        {% comment %} <img class ="image" src="{{pub.image.url}}" alt="이미지 설명"> {% endcomment %}
        <p class="ss-text">
            {{pub.content}}
        </p>
        <p class="INSTA">
            INSTA : {{pub.contact}}
        </p>
    </div>

    <div class="div2">
        <p class="menu-text">메뉴</p>
        {% for menu in pub.menu_set.all %}
            <p class="l1-menu">황도</p>
            <hr class="line-menu">
            <p class="r1-menu">₩ 3000</p>
        {% endfor %}

    </div>

    <div class="div3">
        <p class="place-title">장소</p>
        <p class="place">{{pub.location}}</p>
        <img class ="image-place" src="{% static 'image/a.jpg' %}" alt="">


    </div>
    
</body>

</html>