{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/boothDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <title>{{pub.name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>

<body>
    <nav class="navbar fixed-top">
        <a href="{% url 'home' %}"><img src="{% static 'img/LogoText.png' %}"" style="margin-top: 15px; margin-left: 10%; width: 100px;"></a>
        
        <input type="checkbox" id="icon">
    <label for="icon" style="margin-right: 10%;">  <!--label은 인라인 스타일-->
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div id="header">
        
        <img src="{% static 'img/Menu.png' %}" style="height: 3vh; margin-top: 27px; margin-left: 30px;" >
        <div class="line"></div>
        <ul class="menu_item" style="margin-left: 30px;">
            <li>
                <img src="{% static 'img/Vector.png' %}" style="height: 1.5vh;">
                <a href="{% url 'timeline' %}">타임 테이블</a>
            </li>
            <li>
                <img src="{% static 'img/Vector.png' %}" style="height: 1.5vh;">
                <a href="{% url 'booth' 0 %}">부스 안내</a>
            </li>
            <li>
                <img src="{% static 'img/Vector.png' %}" style="height: 1.5vh;">
                <a href="{% url 'aboutus' %}">About us</a>
            </li>
            <li class="menu_li">
                <img src="{% static 'img/Vector.png' %}" style="height: 1.5vh;">
                <a href="{% url 'home' %}">Home</a>
            </li>
        </ul>
    </div>
    </nav>
    <div class="boothDetail-container">
        <div class="blank-box"></div>
        <div class="track">{{pub.belong}}</div>
        <div class="pub">{{pub.name}}</div>
        <div class="booth-img"><img src="{{pub.image.url}}"></div>
        <div class="booth-info">
            {{pub.content}}
        </div>
        <div class="detail-insta">
            CONTACT : {{oub.contact}}
        </div>
        <hr class="boothDetail-hr">

        <div class="menu">
            <div class="menu-title">메뉴</div>
            {% for menu in pub.menu_set.all %}
                <div class="menu-detail">
                    <div class="menu-food">{{menu.name}}</div>
                    <div class="menu-price">₩ {{menu.price}}</div>
                </div>
            {% endfor %}
        </div>
        <!-- 동아리 설명 -->
        <!-- <div class="club-info">

        </div> -->
        <hr class="boothDetail-hr">
        <div class="place-box">
            <div class="place-title">장소</div>
            <div class="booth-location">{{pub.location}}</div>
        </div>

        <img class="place-img" src="{% static 'img/booth12.png' %}">
    </div>
    <footer style="background-color: #151937;">
        <p style="color: #92AAFFCC; font-weight: 700;">Contact</p>
        <div style="margin-top: 9px;">
            <p>Instagram</p>
            <p>@likelion_hansung</p>
        </div>
        <div style="margin-top: 6px;">
            <p>Kakaotalk</p>
            <p>한성대학교 멋쟁이사자처럼</p>
        </div>
    </footer>
</body>

</html>