@import "main.css";

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pretendardL{
    font-family: 'Pretendard-Light';
}
.pretendardR{
    font-family: 'Pretendard-Regular';
}
.pretendardM{
    font-family: 'Pretendard-Medium';
}
.pretendardSB{
    font-family: 'Pretendard-SemiBold';
}

.jalnan{
    font-family: 'yg-jalnan';
}

/* nav */
ul {
    list-style: none; /* ul 요소의 리스트 스타일을 없앰 */
    padding: 0;
    margin-top: 20px;
}

li{
    margin-top: 35px;
}
.menu_item{
    font-size: 1.7rem;
}

.navbar {
    background-color: #090B26;;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.icon{
    height: 100px;
}

.menu_item_flex{
    display: flex;
    position: relative;
    flex-direction: row;
}

input[id="icon"] {
    display:none;
} 

body{
    height:500px;
}


input[id="icon"] + label{
    position: relative;
    display:block;
    width:20px;
    height:15px;
    cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
    margin-left: 85%;
    margin-top: 15px;
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:2px;
    background:#3A4DEE;
    transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
    position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
    width: 300px;;
    height:100%;
    background:#FFF;
    top:0px;
    box-sizing:border-box;
    right:-300px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #header {
    right:0px;
}

#icon:checked + label + #header > ul > li > a {
    color: #3A4DEE;
    margin-left: 2%;
}

.line{
    margin-top: 27px;
    border-top: 1px solid #3A4DEE;
}

/* footer */
footer{
    font-size: 1rem;
    padding: 14px 0 14px 20px;
}
footer > div{
    display: flex;
    flex-direction: row;
    color: #92AAFF80;
}
footer > div :nth-child(1){
    font-weight: 700;
}
footer > div :nth-child(2){
    font-weight: 400;
    margin-left: 15px;
}
